{% extends 'base1page.html' %}
{% load static %}
{% block title %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hello {{nama}} !</title>

<link rel="icon" href="{% static 'images/Group 3.png' %}" type="image/icon type">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}


{% block content %}

<div class="container" id="konten-404">
    <br>
    <p id="p404">HELLO, {{nama}} !</p>
    <br>
    <a href="logout" style="color: white;text-decoration: none;width: fit-content">
        <div class="kotak-biru">
            <p id="not-found">Logout</p>
        </div>
    </a>
</div>

{% endblock %}