{% extends 'base.html' %}
{% load static %}
{% block title %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>

<link rel="icon" href="{% static 'images/Group 3.png' %}" type="image/icon type">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<style>
#register {
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #0F4C75;
    border-radius: 10px;
    width: fit-content;
}
</style>
{% endblock %}


{% block content %}
<br><br><br>
<div class="container" id="register" style="color: white;">
    <center>
        <h1>REGISTER</h1>
    </center>
    <form method="POST" class="form-group">
        {% csrf_token %}
        <center>
            <br>
            <table>
                {% for i in form %}
                <tr>
                    <td>{{i.label}}&nbsp;&nbsp;</td>
                    <td class="form-group">{{i}}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
        </center>
    </form>
</div>


{% endblock %}