{% extends 'base.html' %}
{% load static %}
{% block title %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Akbar's Profile</title>

<link rel="icon" href="{% static 'images/Group 3.png' %}" type="image/icon type">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<style>
.accordion {
    background-color: #1B262C;
    color: white;
    font-family: Rubik;
    font-size: larger;
    cursor: pointer;
    padding: 18px;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
  }
  .panel {
    color: white;
    font-family: Rubik;
    font-size: medium;
    width: 100%;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    text-align: center;
  }
  #arrow {
    color: white;
    background-color: #1B262C;
    border: none;
    outline: none;
  }
</style>
{% endblock %}

{% block content %}
<br><br>

<div class="container" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
    <center>
        <div class="col">
        <button class="up" id="arrow"><i class="fa fa-angle-up"></i></button>
    </div>
    </center>
    <center>
    <div class="col">
        <button class="accordion">Aktivitas saat ini</button>
        <div class="panel">
            <br>
            <p>Sedang berkuliah di Universitas Indonesia, jurusan Sistem Informasi Fakultas Ilmu Komputer sejak 2019</p>
        </div>
    </div>
    </center>
    <center>
        <div class="col">
        <button class="down" id="arrow"><i class="fa fa-angle-down"></i></button>
    </div>
    </center>
</div>
<div class="container" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
    <center>
        <div class="col">
        <button class="up" id="arrow"><i class="fa fa-angle-up"></i></button>
    </div>
    </center>
    <center>
    <div class="col">
        <button class="accordion">Pengalaman organisasi/kepanitiaan</button>
        <div class="panel">
            <br>
            <p>Penanggung jawab perlengkapan pada acara PICTURE 2019 (social project)<br>
                Staff Futsal Planner pada PERAK 2020 (Pesta Rakyat Komputer)<br>
                Staff Dana Usaha pada SIWAK 2020<br>
                Calon PIC Futsal Planner/Family Games PERAK 2021 (Aamiin) mantap
            </p>
        </div>
    </div>
    </center>
    <center>
        <div class="col">
        <button class="down" id="arrow"><i class="fa fa-angle-down"></i></button>
    </div>
    </center>
</div>
<div class="container" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
    <center>
        <div class="col">
        <button class="up" id="arrow"><i class="fa fa-angle-up"></i></button>
    </div>
    </center>
    <center>
    <div class="col">
        <button class="accordion">Prestasi</button>
        <div class="panel">
            <br>
            <p>Juara 3 VOLCOM 2019 (Volley Competition) yang diadakan oleh FMIPA UI<br>
                tidak ada lagi :(
            </p>
        </div>
    </div>
    </center>
    <center>
        <div class="col">
        <button class="down" id="arrow"><i class="fa fa-angle-down"></i></button>
    </div>
    </center>
</div>
<div class="container" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
    <center>
        <div class="col">
        <button class="up" id="arrow"><i class="fa fa-angle-up"></i></button>
    </div>
    </center>
    <center>
    <div class="col">
        <button class="accordion">Hobby</button>
        <div class="panel">
            <br>
            <p>Volleyball<br>
                Table Tennis<br>
            </p>
        </div>
    </div>
    </center>
    <center>
        <div class="col">
        <button class="down" id="arrow"><i class="fa fa-angle-down"></i></button>
    </div>
    </center>
</div>
{% endblock %}
