body{background-color: #1B262C;cursor: default;}
/* NAVBAR */
#navbar{
    background-color: rgba(15, 76, 117, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#nav-kiri{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}
#nav-kiri p {
    cursor: default;
    margin-top: 10px;
    margin-left: 10px;
}
#nav-kanan{
    margin-right: 30px;
}
#nav-kanan a{
    text-decoration: none;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(15, 76, 117);
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.nav-item:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #878bbe;
}
/* KONTEN LANDING PAGE */
#konten-atas{
    position: relative;
    margin-top: 50px;
}
#atas-kanan-atas{
    display: flex;
    justify-content: space-around;
}
.text-perkenalan{
    cursor: default;
}
#hello {
    margin-left: 70px;

    color: white;
    font-size: 70px;
}
#my-name {
    margin-top: -40px;

    color: white;
    font-size: 35px;
}
#nama {
    margin-top: -25px;
    margin-left: 50px;

    width: fit-content;

    background: #BBE1FA;
    font-size: 75px;
}
#jurusan {
    margin-top: -25px;

    color: white;
    font-size: 25px;
}
#bawah-kanan-atas {
    display: flex;
    justify-content: space-around;
}
.tombol-content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#projects, #resume, #hobbies {
    width: 150px;
    height: 150px;
    margin: 0 10px;
}
#konten-bawah {
    margin-top: 200px;
}
.about-me {
    cursor: default;

    position: relative;
    font-family: Rubik;
    color: white;

    margin-top: 150px;
}
#about-me-judul {
    text-align: center;
    font-size: 75px;
}
#about-me-isi {
    text-align: center;
    font-size: 30px;
    padding : 0 auto;
    z-index: 1;
}
/* KONTEN 404 PAGE */
#konten-404{
    color: white;
    text-align: center;
    margin-top: 50px;
}
#p404{
    font-family: Rubik;
    font-size: 72px;
}
.kotak-biru{
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #0F4C75;
    border-radius: 10px;
    width: fit-content;
}
#not-found{
    margin: auto;
    display: block;
    font-family: Rubik;
    font-size: 40px;
}
/* KONTEN PROJECT PAGE */
#konten-project{
    margin-top: 170px;
    color: white;
    text-align: center;
}
#no-project{
    margin: auto;
    display: block;
    font-family: Rubik;
    font-size: 40px;
}
/* KONTEN RESUME PAGE */
.judul{
    background-color: #BBE1FA;
    margin: 50px auto;
    text-align: center;
    width: fit-content;
}
#judul-resume{
    font-family: Rubik;
    font-size: 50px;
}
.foto-resume{
    text-align: center;
}
#foto-resume1{
    max-width: 516px;
}
#education{
    font-family: Rubik;
    color: white;
    margin-top: 70px;
}
#judul-ed{
    text-align: center;
    font-size: 50px;
}
.isi-education{
    margin-top: 100px;
    text-align: center;
}
#UI{
    font-size: 35px;
    margin-top: 70px;
}
#sub-UI{
    font-size: 25px;
}
.skill-2{
    margin-top: 50px;
}
#logo-ui, #logo-28, #logo-perak, #logo-compfest{
    width: 220px;
    height: auto;
}
#logo-python, #logo-java, #logo-excel, #logo-word, #logo-ppt{
    width: 218px;
    height: auto;
}
/* KONTEN HOBBY PAGE */
.hobi-1{
    text-align: center;
    margin-bottom: 100px;
}
#artikel-hobi{
    font-family: Rubik;
    color: white;
}
#judul-hobi{
    text-align: center;
    font-size: 40px;
}
#konten-hobi{
    font-size: 30px;
    text-align: left;
}
.hobi-2{
    text-align: center;
    margin-bottom: 50px;
}
#foto-badminton, #foto-voli{
    width: 500px;
    height: auto;
}
/* FOOTER */
.footer{
    margin-top: 200px;
}
.footer1page{
    position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	color: white;
	text-align: center;
}
.sosmed{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #BBE1FA;
}
#copyright{
    margin: 0px 0px;
    text-align: center;
    color: white;
    background-color: #3282B8;
}
/* RESPONSIVE */
@media screen and (max-width: 530px) {
    /* KONTEN LANDING PAGE */
    #hello {
        margin-left: 60px;
    
        color: white;
        font-size: 55px;
    }
    #my-name {
        margin-top: -40px;
    
        color: white;
        font-size: 35px;
    }
    #nama {
        margin-top: -25px;
        margin-left: 50px;
    
        width: fit-content;
    
        background: #BBE1FA;
        font-size: 50px;
    }
    #jurusan {
        margin-top: -25px;
    
        color: white;
        font-size: 25px;
    }
    #projects, #resume, #hobbies {
        width: 90px;
        height: 90px;
        margin: 0 10px;
    }
    #konten-bawah {
        margin-top: 75px;
    }
    #about-me-judul {
        text-align: center;
        font-size: 50px;
    }
    #about-me-isi {
        text-align: center;
        font-size: 20px;
        padding : 0 auto;
    }
    /* KONTEN RESUME PAGE */
    #foto-resume1{
        max-width: 300px;
        height: auto;
    }
    #judul-resume{
        font-family: Rubik;
        font-size: 30px;
    }
    #education{
        font-family: Rubik;
        color: white;
        margin-top: 70px;
    }
    #judul-ed{
        text-align: center;
        font-size: 30px;
    }
    #UI{
        font-size: 20px;
        margin-top: 70px;
    }
    #sub-UI{
        font-size: 15px;
    }
    #logo-ui, #logo-28, #logo-perak, #logo-compfest{
        width: 170px;
        height: auto;
    }
    #logo-python, #logo-java, #logo-excel, #logo-word, #logo-ppt{
        width: 168px;
        height: auto;
    }
    /* KONTEN PROJECT PAGE */
    #no-project{
        margin: auto;
        display: block;
        font-family: Rubik;
        font-size: 35px;
    }
    /* KONTEN HOBBIES PAGE */
    #foto-badminton, #foto-voli{
        width: 300px;
        height: auto;
    }
    #judul-hobi{
        text-align: center;
        font-size: 30px;
    }
    #konten-hobi{
        font-size: 20px;
        text-align: left;
    }
    /* FOOTER */
    .footer1page{
        width: 100%;
        color: white;
        text-align: center;
    }
    .sosmed{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #BBE1FA;
    }
    #home, #youtube, #linkedin,#instagram,#mail {
        width: 50px;
        height: 50px;
    }
}