<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    {% block title %}
    {% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <div id="nav-kiri">
            <img src="{% static 'images/Group 3.png' %}" alt="orang_ganteng" width="60px" height="60px">
            <p>Muhamad Akbar Syahputra Adha</p>
        </div>

        <div id="nav-kanan">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#!">Story PPW <img src="{% static 'images/drop-down-arrow.png' %}" alt="dropdown arrow" width="10px" height="10px"></a>

                    <div class="dropdown-content">
                        <a href="/story1">Story 1</a>
                        <a href="/story5">Story5</a>
                        <a href="/story6">Story 6</a>
                        <a href="{% url 'story7:home7' %}">Story 7</a>
                        <a href="{% url 'story8:home8b' %}">Story 8</a>
                        <a href="{% url 'story9:home9' %}">Story 9</a>
                        <a href="/coming-soon">Coming Soon</a>
                    </div>
                </li>
              </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div class="footer1page">
        <div class="sosmed">
            <div class="kiri">
                <a href="home"><img src="{% static 'images/home.png' %}" alt="" id="home"></a>
            </div>
            <div class="tengah">
                <a href="https://www.youtube.com/channel/UCmxW3Ywk5kM4k9vPuPBffLg"><img src="{% static 'images/Youtube.png' %}" alt="" id="youtube"></a>
                <a href="https://www.linkedin.com/in/muhamad-akbar-syahputra-adha-99b3b9175/"><img src="{% static 'images/LinkedIN.png' %}" alt="" id="linkedin"></a>
                <a href="https://www.instagram.com/syahputra_adha/"><img src="{% static 'images/Instagram.png' %}" alt="" id="instagram"></a>
            </div>
            <div class="kanan">
                <a href="404"><img src="{% static 'images/Mail.png' %}" alt="" id="mail"></a>
            </div>
        </div>
            <p id="copyright">
                Copyright © 2020 by Muhamad Akbar Syahputra Adha, all rights reserved
            </p>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>