<!DOCTYPE html>
{% extends 'base1page.html' %}
{% load static %}
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Kegiatan</title>

    <link rel="icon" href="{% static 'images/Group 3.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    {% endblock %}
</head>

<body>
    {% block content %}
    <br><br>
    <div class="container" style="color: white;">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{kegiatanForm.nama_kegiatan.label_tag}}
                {{kegiatanForm.nama_kegiatan}}
            </div>

            <button type="Submit" class="btn btn-light" href="list-kegiatan">Selesai</button>
        </form>

        <a href="story6"><button class="btn btn-primary" href="story6">Kembali</button></a>
    </div>
    {% endblock %}

</body>
</html>