<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akbar's Hobby</title>

    <link rel="icon" href="{% static 'images/Group 3.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    {% endblock %}
</head>

<body>

    {% block content %}
    <div class="container" id="judul-resume">
        <div class="judul">
            <p id="judul-resume">My Hobbies</p>
        </div>
    </div>

    <div class="container" id="hobi">
        <div class="isi-hobi">
            <div class="hobi-1">
                <div class="row">
                    <div class="col-xl-4">
                        <img src="{% static 'images/Group 10.png' %}" alt="" id="foto-badminton">
                    </div>

                    <div class="col-xl-2"></div>

                    <div class="col-xl-6" id="artikel-hobi">
                        <div class="row">
                            <p id="judul-hobi">
                                Badminton
                            </p>
                        </div>

                        <div class="row">
                            <p id="konten-hobi">
                                I love to play badminton since i was at Elementary. Since then, i always play badminton with my friend after school finished.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hobi-2">
                <div class="row">
                    <div class="col-xl-1"></div>

                    <div class="col-xl-6" id="artikel-hobi">
                        <div class="row">
                            <p id="judul-hobi">
                                Volleyball
                            </p>
                        </div>

                        <div class="row">
                            <p id="konten-hobi">
                                My first play of volleyball game was at Highschool. Me and my friend always enjoyed the play that we had. Volleyball is  fun !
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <img src="{% static 'images/Group 11.png' %}" alt="" id="foto-voli">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</body>
</html>