<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akbar's profile</title>

    <link rel="icon" href="{% static 'images/Group 3.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    {% endblock %}
</head>

<body>
    {% block content %}

    <div class="container" id="konten-atas">
        <div class="row">
            <div class="col-xl">
                <div class="atas-kiri">
                    <img src="{% static 'images/Group 4.png' %}" alt="orang-ganteng" width="100%" max-width="500px" height="auto">
                </div>
            </div>
    
            <div class="col-xl">
                <div class="row-xl" id="atas-kanan-atas">
                    <div class="text-perkenalan">
                        <p id="hello">Hello !</p>
                        <p id="my-name">My name is</p>
                        <p id="nama">AKBAR</p>
                        <p id="jurusan">Information System Student</p>
                    </div>
                </div>

                <div class="row-xl" id=bawah-kanan-atas>
                    <div class="tombol-content">
                        <a href="projects"><img src="{% static 'images/Group 5.png' %}" alt="" id="projects"></a>
                        <a href="resume"><img src="{% static 'images/Group 6.png' %}" alt="" id="resume"></a>
                        <a href="hobbies"><img src="{% static 'images/Group 7.png' %}" alt="" id="hobbies"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="konten-bawah">
        <div class="about-me">
            <p id="about-me-judul">About me</p>
            <p id="about-me-isi">I’m a student majoring Information System at Universitas Indonesia. I study about tech, business, and management. I understand several programming language. If you want to know more information about me please comfort yourself to click one of the circle above</p>
        </div>
    </div>


    {% endblock %}
</body>
</html>