<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Matkul</title>

    <link rel="icon" href="{% static 'images/Group 3.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    {% endblock %}
</head>

<body>
    {% block content %}

    <div class="container" style="min-height: 400px;">
        <br><br>
        <div class="kotak-biru" style="color: white;">
            <h1>Daftar Matkul</h1>
        </div>
        <br><br>

        {% for i in Matkul %}
        <div class="card-deck" style="background-color: #3282B8;">
          <div class="card" style="background-color: #bbe1fa;">
            <div class="kontener" style="display: flex; justify-content:space-between;">
              <div class="card-body col-lg-6">
                <h4 class="card-title">{{i.nama_matkul}}</h4>
                <p class="card-text"><strong>Dosen pengajar : </strong>{{i.dosen_pengajar}}</p>
                <p class="card-text"><strong>Ruang : </strong> {{i.ruang_matkul}}</p>
                <p class="card-text"><strong>Banyak SKS : </strong> {{i.jumlah_sks}}</p>
                <p class="card-text">{{i.semester_tahun}}</p>
              </div>
              <div class="col-lg-6">
                <br><br><br>
                <div class="row">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-2">
                    <a href="delete/{{i.id}}" class="card-link"> <button type="button" class="btn btn-danger">Hapus</button></a>
                  </div>
                  <div class="col-lg-2">
                    <a href="update/{{i.id}}" class="card-link"> <button type="button" class="btn btn-warning">Update</button></a>
                  </div>
                  <div class="col-lg-2">
                    <a href="viewmatkul/{{i.id}}" class="card-link"> <button type="button" class="btn btn-info">Detail</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      {% endfor %}
      <div class="container" style="text-align: center;">
        <a href="/story5" class="card-link"> <button type="button" class="btn btn-primary">Kembali</button></a>
      </div>
    </div>

    {% endblock %}
</body>
</html>