<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akbar's Resume</title>

    <link rel="icon" href="{% static 'images/Group 3.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    {% endblock %}
</head>

<body>
    {% block content %}

    <div class="container" id="judul-foto">
        <div class="judul">
            <p id="judul-resume">My Resume</p>
        </div>

        <div class="foto-resume">
            <img src="{% static 'images/Group 9.png' %}" alt="" id="foto-resume1">
        </div>
    </div>

    <div class="container" id="education">
        <div class="judul-education">
            <p id="judul-ed">Educational Background</p>
        </div>

        <div class="isi-education">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-7">
                    <p id="UI">Universitas Indonesia (2019 - Present)</p>
                </div>

                <div class="col-xl-4">
                    <img src="{% static 'images/image 2.png' %}" alt="" id="logo-ui">
                </div>
            </div>
                
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-4">
                    <img src="{% static 'images/image 1.png' %}" alt="" id="logo-28">
                </div>

                <div class="col-xl-7">
                    <p id="UI">SMAN 28 Jakarta (2016 - 2019)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="education">
        <div class="judul-education">
            <p id="judul-ed">Organization Experiences</p>
        </div>

        <div class="isi-education">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-7">
                    <p id="UI">Pesta Rakyat Komputer (2020)</p>
                    <p id="sub-UI">Staff of Futsal Planner</p>
                </div>

                <div class="col-xl-4">
                    <img src="{% static 'images/image 3.png' %}" alt="" id="logo-perak">
                </div>
            </div>
                
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-4">
                    <img src="{% static 'images/Copy of Asset 9 1.png' %}" alt="" id="logo-compfest">
                </div>

                <div class="col-xl-7">
                    <p id="UI">COMPFEST (2020)</p>
                    <p id="sub-UI">Staff of Equipment and Security</p>
                </div>
            </div>
        </div>

        <div class="container" id="education">
            <div class="judul-education">
                <p id="judul-ed">Skills</p>
            </div>
    
            <div class="isi-education">
                <div class="row">
                    <div class="col-xl-1"></div>

                    <div class="col-xl-3">
                        <img src="{% static 'images/Python.png' %}" alt="" id="logo-python">
                    </div>

                    <div class="col-xl-3">
                        <img src="{% static 'images/Java.png' %}" alt="" id="logo-java">
                    </div>

                    <div class="col-xl-3">
                        <img src="{% static 'images/Excel.png' %}" alt="" id="logo-excel">
                    </div>

                    <div class="col-xl-1"></div>
                </div>
                    
                <div class="row" id="skill-2">
                    <div class="col-xl-1"></div>

                    <div class="col-xl-3">
                        <img src="{% static 'images/PowerPoint.png' %}" alt="" id="logo-ppt">
                    </div>

                    <div class="col-xl-3">
                        <img src="{% static 'images/Word.png' %}" alt="" id="logo-word">
                    </div>

                    <div class="col-xl-1"></div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>