<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/cssnya.css' %}">

    <title>Akbar's Profile !</title>
</head>

<body>
    <div id="baratas">
        <h1 id="judul">Profile Page</h1>
    </div>

    <div id="intro" style="text-align: center;">
        <img id="fotoprofil" src="{% static 'stylesheets/photos/CN38.jpg' %}" alt="foto orang ganteng" width="300" height="450">
        <div id="isian">
            <h1 id="hello">Hello World !</h1>
            <p id="isianhello">I am Akbar, the creator of this website</p>
        </div>
    </div>

    <div id="biodata">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 id="judulbiodata">Here's my personal data</h2>

        <table class="tabledatadiri" align="center">
            <tr class="barisbiodata">
                <td class="textbiodata">Complete name</td>
                <td class="textbiodata">:</td>
                <td class="textbiodata">Muhamad Akbar Syahputra Adha</td>
            </tr>
            <tr class="barisbiodata">
                <td class="textbiodata">Born</td>
                <td class="textbiodata">:</td>
                <td class="textbiodata">Jakarta, 5th March 2001</td>
            </tr>
            <tr class="barisbiodata">
                <td class="textbiodata">Occupation</td>
                <td class="textbiodata">:</td>
                <td class="textbiodata">Student at Universitas Indonesia</td>
            </tr>
            <tr class="barisbiodata">
                <td class="textbiodata">Student id</td>
                <td class="textbiodata">:</td>
                <td class="textbiodata">1906399530</td>
            </tr>
            <tr class="barisbiodata">
                <td class="textbiodata">Faculty</td>
                <td class="textbiodata">:</td>
                <td class="textbiodata">Computer Science</td>
            </tr>
            <tr class="barisbiodata">
                <td class="textbiodata">Major</td>
                <td class="textbiodata">:</td>
                <td class="textbiodata">Information System</td>
            </tr>
        </table>
    </div>

    <div class="contact">
        <br>
        <br>
        <br>
        <br>
        <br>
        <table align="center">
            <tr class="baris-contact">
                <td class="isi-contact"><a href="https://www.instagram.com/syahputra_adha/"><img src="{% static 'stylesheets/photos/instagram.png' %}" alt="Instagram" width="50" height="50"></a></td>
                <td class="isi-contact"><a href="https://www.linkedin.com/in/muhamad-akbar-syahputra-adha-99b3b9175/"><img src="{% static 'stylesheets/photos/linkedin.png' %}" alt="Linkedin" width="50" height="50"></a></td>
                <td class="isi-contact"><a href="https://www.youtube.com/channel/UCmxW3Ywk5kM4k9vPuPBffLg?view_as=subscriber"><img src="{% static 'stylesheets/photos/youtube.png' %}" alt="Youtube" width="50" height="50"></a></td>
            </tr>
        </table>
    </div>
</body>
</html>